{% extends 'base.html.twig' %}

{% block title %}
    {{ 'page.home.title'|trans }}
{% endblock title %}

{% block stylesheets %}
    {% for cssFile in encore_entry_css_files('global', 'bootstrap-examples-config') %}
        <link {{ app.environment == 'prod' ? 'nonce="' ~ csp_nonce('style') ~ '"' : '' }} rel="stylesheet" href="{{ cssFile }}" />
    {% endfor %}
{% endblock stylesheets %}

{% block javascripts %}
    {% for jsFile in encore_entry_js_files('home', 'bootstrap-examples-config') %}
        {% cspscript %}
        <script nonce="{{ csp_nonce('script') }}" src="{{ asset(jsFile) }}" defer></script>
        {% endcspscript %}
    {% endfor %}
{% endblock javascripts %}

{% block metatags %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@getbootstrap" />
    <meta name="twitter:creator" content="@getbootstrap" />
    <meta name="twitter:title" content="Examples" />
    <meta name="twitter:description" content="Quickly get a project started with any of our examples ranging from using parts of the framework to custom components and layouts." />
    <meta name="twitter:image" content="/docs/5.2/assets/brand/bootstrap-social.png" />

    <meta property="og:url" content="https://getbootstrap.com/docs/5.2/examples/" />
    <meta property="og:title" content="Examples" />
    <meta property="og:description" content="Quickly get a project started with any of our examples ranging from using parts of the framework to custom components and layouts." />
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image" content="/docs/5.2/assets/brand/bootstrap-social.png" />
{% endblock metatags %}

{% block header %}
    {% include 'bootstrap_examples/menu.html.twig' %}
{% endblock header %}

{% block main %}
    <header class="py-5 border-bottom">
        <div class="container-xxl bd-gutter pt-md-1 pb-md-4">
            <div class="row">
                <div class="col-xl-8">
                    <h1 class="bd-title mt-0">
                        Examples
                    </h1>
                    <p class="bd-lead">
                        Quickly get a project started with any of our examples ranging from using parts of the framework to custom components and layouts.
                    </p>

                    <div class="d-flex flex-column flex-md-row gap-3">
                        <a href="https://github.com/twbs/bootstrap/releases/download/v5.2.3/bootstrap-5.2.3-examples.zip"
                            class="btn btn-lg bd-btn-lg btn-bd-primary d-flex align-items-center justify-content-center fw-semibold"
                            onclick="ga('send', 'event', 'Examples', 'Hero', 'Download Examples');">
                            <svg class="bi me-2" aria-hidden="true">
                                <use xlink:href="#box-seam"></use>
                            </svg>Download examples
                        </a>
                        <a href="https://github.com/twbs/bootstrap/archive/v5.2.3.zip"
                            class="btn btn-lg bd-btn-lg btn-outline-secondary"
                            onclick="ga('send', 'event', 'Examples', 'Hero', 'Download');">
                            Download source code
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 d-lg-flex justify-content-xl-end"></div>
            </div>
        </div>
    </header>

    <main class="bd-content order-1 py-5" id="content">
        <div class="container-xxl bd-gutter">
            <div class="row g-lg-5 mb-5">
                <div class="bd-content col-lg-3">
                    <h2 id="snippets">
                        Snippets
                    </h2>
                    <p>
                        Common patterns for building sites and apps that build on existing components and utilities with custom CSS and more.
                    </p>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'headers'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/headers.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/headers@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/headers.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Headers
                                </h3>
                            </a>
                            <p class="text-muted">
                                Display your branding, navigation, search, and more with these header components
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'heroes'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/heroes.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/heroes@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/heroes.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Heroes
                                </h3>
                            </a>
                            <p class="text-muted">
                                Set the stage on your homepage with heroes that feature clear calls to action.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'features'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/features.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/features@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/features.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Features
                                </h3>
                            </a>
                            <p class="text-muted">
                                Explain the features, benefits, or other details in your marketing content.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'sidebars'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/sidebars.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/sidebars@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/sidebars.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Sidebars
                                </h3>
                            </a>
                            <p class="text-muted">
                                Common navigation patterns ideal for offcanvas or multi-column layouts.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'footers'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/footers.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/footers@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/footers.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Footers
                                </h3>
                            </a>
                            <p class="text-muted">
                                Finish every page strong with an awesome footer, big or small.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'dropdowns'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/dropdowns.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/dropdowns@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/dropdowns.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Dropdowns
                                </h3>
                            </a>
                            <p class="text-muted">
                                Enhance your dropdowns with filters, icons, custom styles, and more.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'list-groups'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/list-groups.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/list-groups@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/list-groups.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    List groups
                                </h3>
                            </a>
                            <p class="text-muted">
                                Extend list groups with utilities and custom styles for any content.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'modals'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/modals.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/modals@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/modals.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Modals
                                </h3>
                            </a>
                            <p class="text-muted">
                                Transform modals to serve any purpose, from feature tours to dialogs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-lg-5 mb-5">
                <div class="bd-content col-lg-3">
                    <h2 id="custom-components">
                        Custom Components
                    </h2>
                    <p>
                        Brand-new components and templates to help folks quickly get started with Bootstrap and demonstrate best practices for adding onto the framework.
                    </p>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'album'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/album.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/album@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/album.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Album
                                </h3>
                            </a>
                            <p class="text-muted">
                                Simple one-page template for photo galleries, portfolios, and more.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'pricing'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/pricing.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/pricing@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/pricing.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Pricing
                                </h3>
                            </a>
                            <p class="text-muted">
                                Example pricing page built with Cards and featuring a custom header and footer.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'checkout'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/checkout.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/checkout@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/checkout.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Checkout
                                </h3>
                            </a>
                            <p class="text-muted">
                                Custom checkout form showing our form components and their validation features.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'product'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/product.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/product@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/product.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Product
                                </h3>
                            </a>
                            <p class="text-muted">
                                Lean product-focused marketing page with extensive grid and image work.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'cover'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/cover.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/cover@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/cover.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Cover
                                </h3>
                            </a>
                            <p class="text-muted">
                                A one-page template for building simple and beautiful home pages.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'carousel'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/carousel.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/carousel@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/carousel.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Carousel
                                </h3>
                            </a>
                            <p class="text-muted">
                                Customize the navbar and carousel, then add some new components.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'blog'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/blog.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/blog@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/blog.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Blog
                                </h3>
                            </a>
                            <p class="text-muted">
                                Magazine like blog template with header, navigation, featured content.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'dashboard'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/dashboard.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/dashboard@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/dashboard.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Dashboard
                                </h3>
                            </a>
                            <p class="text-muted">
                                Basic admin dashboard shell with fixed sidebar and navbar.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'sign-in'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/sign-in.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/sign-in@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/sign-in.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Sign-in
                                </h3>
                            </a>
                            <p class="text-muted">
                                Custom form layout and design for a simple sign in form.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'sticky-footer'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/sticky-footer.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/sticky-footer@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/sticky-footer.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Sticky footer
                                </h3>
                            </a>
                            <p class="text-muted">
                                Attach a footer to the bottom of the viewport when page content is short.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'sticky-footer-navbar'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/sticky-footer-navbar.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/sticky-footer-navbar@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/sticky-footer-navbar.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Sticky footer navbar
                                </h3>
                            </a>
                            <p class="text-muted">
                                Attach a footer to the bottom of the viewport with a fixed top navbar.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'jumbotron'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/jumbotron.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/jumbotron@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/jumbotron.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Jumbotron
                                </h3>
                            </a>
                            <p class="text-muted">
                                Use utilities to recreate and enhance Bootstrap 4's jumbotron.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-lg-5 mb-5">
                <div class="bd-content col-lg-3">
                    <h2 id="framework">
                        Framework
                    </h2>
                    <p>
                        Examples that focus on implementing uses of built-in components provided by Bootstrap.
                    </p>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'starter-template'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/starter-template.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/starter-template@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/starter-template.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Starter template
                                </h3>
                            </a>
                            <p class="text-muted">
                                Nothing but the basics: compiled CSS and JavaScript.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'grid'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/grid.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/grid@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/grid.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Grid
                                </h3>
                            </a>
                            <p class="text-muted">
                                Multiple examples of grid layouts with all four tiers, nesting, and more.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'cheatsheet'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/cheatsheet.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/cheatsheet@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/cheatsheet.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Cheatsheet
                                </h3>
                            </a>
                            <p class="text-muted">
                                Kitchen sink of Bootstrap components.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'cheatsheet-rtl'
                                    }
                                )
                                }}"
                                hreflang="ar">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/cheatsheet-rtl.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/cheatsheet-rtl@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/cheatsheet-rtl.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Cheatsheet RTL
                                </h3>
                            </a>
                            <p class="text-muted">
                                Kitchen sink of Bootstrap components, RTL.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-lg-5 mb-5">
                <div class="bd-content col-lg-3">
                    <h2 id="navbars">
                        Navbars
                    </h2>
                    <p>
                        Taking the default navbar component and showing how it can be moved, placed, and extended.
                    </p>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'navbars'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/navbars.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/navbars@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/navbars.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Navbars
                                </h3>
                            </a>
                            <p class="text-muted">
                                Demonstration of all responsive and container options for the navbar.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'navbars-offcanvas'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/navbars-offcanvas.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/navbars-offcanvas@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/navbars-offcanvas.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Navbars offcanvas
                                </h3>
                            </a>
                            <p class="text-muted">
                                Same as the Navbars example, but with our offcanvas component.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'navbar-static'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/navbar-static.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/navbar-static@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/navbar-static.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Navbar static
                                </h3>
                            </a>
                            <p class="text-muted">
                                Single navbar example of a static top navbar along with some additional content.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'navbar-fixed'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/navbar-fixed.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/navbar-fixed@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/navbar-fixed.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Navbar fixed
                                </h3>
                            </a>
                            <p class="text-muted">
                                Single navbar example with a fixed top navbar along with some additional content.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'navbar-bottom'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/navbar-bottom.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/navbar-bottom@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/navbar-bottom.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Navbar bottom
                                </h3>
                            </a>
                            <p class="text-muted">
                                Single navbar example with a bottom navbar along with some additional content.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'offcanvas-navbar'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/offcanvas-navbar.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/offcanvas-navbar@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/offcanvas-navbar.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Offcanvas navbar
                                </h3>
                            </a>
                            <p class="text-muted">
                                Turn your expandable navbar into a sliding offcanvas menu (doesn't use our offcanvas component).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-lg-5 mb-5">
                <div class="bd-content col-lg-3">
                    <h2 id="rtl">
                        RTL
                    </h2>
                    <p>
                        See Bootstrap's RTL version in action with these modified Custom Components examples.
                    </p>
                    <div class="bd-callout bd-callout-warning small">
                        <p>
                            <strong>RTL is still experimental</strong> and will evolve with feedback. Spotted something or have an improvement to suggest?
                        </p>
                        <p>
                            <a href="https://github.com/twbs/bootstrap/issues/new/choose">Please open an issue.</a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'album-rtl'
                                    }
                                )
                                }}"
                                hreflang="ar">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/album-rtl.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/album-rtl@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/album-rtl.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Album RTL
                                </h3>
                            </a>
                            <p class="text-muted">
                                Simple one-page template for photo galleries, portfolios, and more.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'checkout-rtl'
                                    }
                                )
                                }}"
                                hreflang="ar">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/checkout-rtl.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/checkout-rtl@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/checkout-rtl.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Checkout RTL
                                </h3>
                            </a>
                            <p class="text-muted">
                                Custom checkout form showing our form components and their validation features.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'carousel-rtl'
                                    }
                                )
                                }}"
                                hreflang="ar">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/carousel-rtl.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/carousel-rtl@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/carousel-rtl.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Carousel RTL
                                </h3>
                            </a>
                            <p class="text-muted">
                                Customize the navbar and carousel, then add some new components.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'blog-rtl'
                                    }
                                )
                                }}"
                                hreflang="ar">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/blog-rtl.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/blog-rtl@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/blog-rtl.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Blog RTL
                                </h3>
                            </a>
                            <p class="text-muted">
                                Magazine like blog template with header, navigation, featured content.
                            </p>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'dashboard-rtl'
                                    }
                                )
                                }}"
                                hreflang="ar">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/dashboard-rtl.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/dashboard-rtl@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/dashboard-rtl.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Dashboard RTL
                                </h3>
                            </a>
                            <p class="text-muted">
                                Basic admin dashboard shell with fixed sidebar and navbar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-lg-5 mb-5">
                <div class="bd-content col-lg-3">
                    <h2 id="integrations">
                        Integrations
                    </h2>
                    <p>
                        Integrations with external libraries.
                    </p>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-3">
                            <a class="d-block"
                                href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'masonry'
                                    }
                                )
                                }}">
                                <img class="img-thumbnail mb-3"
                                    srcset="{{ asset('build/bootstrap-examples/images/examples/masonry.png') }},
                                                    {{
                                    asset(
                                        'build/bootstrap-examples/images/examples/masonry@2x.png'
                                    )
                                    }} 2x"
                                    src="{{ asset('build/bootstrap-examples/images/examples/masonry.png') }}"
                                    alt=""
                                    width="480"
                                    height="300"
                                    loading="lazy" />
                                <h3 class="h5 mb-1">
                                    Masonry
                                </h3>
                            </a>
                            <p class="text-muted">
                                Combine the powers of the Bootstrap grid and the Masonry layout.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-5" />
            <div class="container">
                <div class="text-center">
                    <div class="masthead-followup-icon d-inline-block mb-2 text-bg-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" focusable="false" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 16a6 6 0 006-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 006 6zM6.646 4.646c-.376.377-1.272 1.489-2.093 3.13l.894.448c.78-1.559 1.616-2.58 1.907-2.87l-.708-.708z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <h2 class="display-6 fw-normal">
                        Go further with Bootstrap Themes
                    </h2>
                    <p class="col-md-10 col-lg-8 mx-auto lead">
                        Need something more than these examples? Take Bootstrap to the next level with premium themes from the <a href="https://themes.getbootstrap.com/">
                            official Bootstrap Themes marketplace
                        </a>. Theyre built as their own extended frameworks, rich with new components and plugins, documentation, and powerful build tools.
                    </p>
                    <a href="https://themes.getbootstrap.com/" class="btn btn-lg btn-outline-primary mb-3">Browse themes</a>
                </div>
                <img class="d-block img-fluid mt-3 mx-auto"
                    srcset="{{ asset('build/bootstrap-examples/images/bootstrap-themes-collage.png') }},
                                                              {{
                    asset(
                        'build/bootstrap-examples/images/bootstrap-themes-collage@2x.png'
                    )
                    }} 2x"
                    src="{{ asset('build/bootstrap-examples/images/bootstrap-themes-collage.png') }}"
                    alt="Bootstrap Themes"
                    width="1150"
                    height="320"
                    loading="lazy" />
            </div>
        </div>
    </main>
{% endblock main %}

{# FOOTER #}
{% block footer %}
    <footer class="bd-footer py-4 py-md-5 mt-5 bg-light">
        <div class="container py-4 py-md-5 px-4 px-md-3">
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="d-block me-2" viewBox="0 0 118 94" role="img">
                            <title>
                                Bootstrap
                            </title>
                            <path fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                                fill="currentColor" />
                        </svg>
                        <span class="fs-5">Bootstrap</span>
                    </a>
                    <ul class="list-unstyled small text-muted">
                        <li class="mb-2">
                            Designed and built with all the love in the world by the <a href="/docs/5.2/about/team/">Bootstrap team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">
                                our contributors
                            </a>.
                        </li>
                        <li class="mb-2">
                            Code licensed <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/"
                                target="_blank"
                                rel="license noopener">
                                CC BY 3.0
                            </a>.
                        </li>
                        <li class="mb-2">Currently v5.2.3.</li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                    <h5>
                        Links
                    </h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="/">Home</a></li>
                        <li class="mb-2"><a href="/docs/5.2/">Docs</a></li>
                        <li class="mb-2"><a href="/docs/5.2/examples/">Examples</a></li>
                        <li class="mb-2"><a href="https://icons.getbootstrap.com/">Icons</a></li>
                        <li class="mb-2"><a href="https://themes.getbootstrap.com/">Themes</a></li>
                        <li class="mb-2"><a href="https://blog.getbootstrap.com/">Blog</a></li>
                        <li class="mb-2"><a href="https://cottonbureau.com/people/bootstrap">Swag Store</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>
                        Guides
                    </h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="/docs/5.2/getting-started/">Getting started</a></li>
                        <li class="mb-2">
                            <a href="{{
                                path(
                                    'bootstrap-examples-page',
                                    {
                                        page: 'starter-template'
                                    }
                                )
                                }}">
                                Starter template
                            </a>
                        </li>
                        <li class="mb-2"><a href="/docs/5.2/getting-started/webpack/">Webpack</a></li>
                        <li class="mb-2"><a href="/docs/5.2/getting-started/parcel/">Parcel</a></li>
                        <li class="mb-2"><a href="/docs/5.2/getting-started/vite/">Vite</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>
                        Projects
                    </h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://github.com/twbs/bootstrap">Bootstrap 5</a></li>
                        <li class="mb-2"><a href="https://github.com/twbs/bootstrap/tree/v4-dev">Bootstrap 4</a></li>
                        <li class="mb-2"><a href="https://github.com/twbs/icons">Icons</a></li>
                        <li class="mb-2"><a href="https://github.com/twbs/rfs">RFS</a></li>
                        <li class="mb-2"><a href="https://github.com/twbs/bootstrap-npm-starter">npm starter</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>
                        Community
                    </h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://github.com/twbs/bootstrap/issues">Issues</a></li>
                        <li class="mb-2"><a href="https://github.com/twbs/bootstrap/discussions">Discussions</a></li>
                        <li class="mb-2"><a href="https://github.com/sponsors/twbs">Corporate sponsors</a></li>
                        <li class="mb-2"><a href="https://opencollective.com/bootstrap">Open Collective</a></li>
                        <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5">Stack Overflow</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
{# / FOOTER #}
